name: build-windows-x64

on:
  workflow_dispatch:
  push:
    tags:
      - "v*"

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Python x64
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"
          architecture: "x64"

      - name: Upgrade pip
        run: python -m pip install --upgrade pip

      - name: Install PyInstaller
        run: pip install pyinstaller

      - name: Build exe
        run: pyinstaller --onefile --noconsole --clean --name copy_file_to copy_file_to.py

      - name: Upload exe artifact
        uses: actions/upload-artifact@v4
        with:
          name: copy_file_to-windows-x64
          path: dist/copy_file_to.exe
